.about{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.about-wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.about-content-header{
  display: flex;
  font-size: 1.9em;
  font-weight: bold;
  padding: 2.5% 0 0 2.5%;
}

.about-content-header > p{
  margin-top: 12.5px;
  margin-left: 10px;
}

.about-container{
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 5% 10% 0 5%;
}

.about-content{
  display: flex;
  flex-direction: column;
}

.about-content-text{
  margin-left: 5%;
}

.about-content-links{
  display: flex;
  text-align: right;
  margin: 30px;
}

.about-link {
  cursor: pointer;
  border: solid 1px black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  box-shadow: 0;
  margin: 0;
  position: relative;
  display: block;
  width: 25%;
  text-align: left;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 500;
  padding: 5px 10px;
  outline: none;
  margin: 10px;
  align-items: center;
}

.about-link:after {
  position: absolute;
  top: 4px;
  left: 4px;
  right: -4px;
  bottom: -4px;
  display: block;
  border: 1px solid black;
}

.about-link:active {
  top: 4px;
    left: 4px;
}


.about-link:after {
  right: 0;
  bottom: 0;
}

.about-emailMe{
  cursor: pointer;
  border-radius: 0;
  box-shadow: 0;
  margin: 0;
  position: relative;
  display: block;
  width: 50%;
  text-align: left;
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 500;
  padding: 10px 20px;
  outline: none;
  margin-top: 5%;
  margin-left: 10%;
  color: rgb(69, 94, 232);
  align-items: center;
}

.about-emailMe:after {
  position: absolute;
  top: 4px;
  left: 4px;
  right: -4px;
  bottom: -4px;
  display: block;
  border: 1px solid black;
}

.about-emailMe:active {
  top: 4px;
    left: 4px;
}


.about-emailMe:after {
  right: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  color: black
}